.about {
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(/src/assets/images/about-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.aboutPara {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.aboutSectionBottom{
  height: 600px;

}
.OurCoreValues {
  background-color: #ecf4d3;
}

